.textbox{
	border:1px solid solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	padding-bottom: 2rem;
}

.textbox img{
	height: 1.5rem;
	padding-top: 0.5rem;
}

ul li{
	float: left;
	width: 100px;
	text-transform: capitalize;
	list-style-type: none;
	font-family: kalim parl, sans-serif;

}

ul li a{
	text-decoration: none;
	color: white;
	transition: color 650ms;
}

ul li a:hover{
	color:#81b71a;
}

b{
	color: #81b71a ;
	border-bottom: 2px solid #81b71a ;
	font-weight: normal;
}

body{
	background:linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68),rgba(0,0,0,0.68),rgba(0,0,0,0.68));
}

.intro{
	font-family: candara;
	padding: 0.5rem;
	padding-bottom: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	font-size: 1.5rem;
	color: white;

}

.intro h2{
	padding-bottom: 2rem;
	border-bottom: 2px solid white;
}

main{
	background: url(../images/bg3.jpg);
	background-size: cover;
}
.platforms{
	padding: 2rem;
	padding-bottom: 3rem;
	font-family: candara;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.platforms-row{
	padding: 2rem;
	padding-bottom: 3rem;
	font-family: candara;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.platforms img{
	width: 200px;
	align-items: center;
	box-shadow: 4px 4px #000000;
}

.platforms-row img{
	width: 200px;
	align-items: center;
	box-shadow: 4px 4px #000000;
}

.container{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.container .logo h3{
	font-size: 2.5rem;
	color: #B38A4C;
	text-shadow:  2px 2px #000000;
}

.container .logo a i{
	font-size: 5rem;
	color: white;
	transition: color 650ms;
	padding-bottom: 2.5rem;
}

.container .logo a i:hover{
	color:#B38A4C;
}

.copyright{
	width: 100%;
	text-align: center;
	padding: 2rem 0;
	position: relative;
	color: white;
	font-family: candara;

}

