.textbox{
	float: right;
	border:1px solid solid black;
}

ul li{
	float: left;
	width: 100px;
	text-transform: capitalize;
	list-style-type: none;
	font-family: kalim parl, sans-serif;
}

ul li a{
	text-decoration: none;
	color: white;
	transition: color 650ms;
}

ul li a:hover{
	color:#81b71a;
}

b{
	color: #81b71a ;
	border-bottom: 2px solid #81b71a ;
	font-weight: normal;
}

.textbox img{
	height: 2rem;
	left: 20px;
	top: 30px;
}

body{
	background:linear-gradient(rgba(0,0,0,0.68),rgba(0,0,0,0.68),rgba(0,0,0,0.68),rgba(0,0,0,0.68)), url(../images/bg2.jpg)no-repeat;
	background-size: cover;
}

.cover{
	border:1px solid black;
	text-align: center;
	width: 300px;
	height: 450px;
	position: absolute;
	left: 10%;
	top: 20%;
	border-radius: 9px;
	box-shadow: 0 0 16px 7px;
	opacity: 0.6;
}

.subcover{
	border-bottom: 1px solid none;
	background:black;
	width: 300px;
	height: 450px;
	opacity: 0.6;
	border-radius: 8px;
}

.coverimage{
	text-align: center;
}

img{
	border-radius: 20px;
	position: absolute;
	left: 20%;
	top:10%;
	margin: -10px -9px;
	opacity: 0.9;
}

.text{
	position: absolute;
	left: 25%;
	top:55%;
	margin: -1px 10px;
}

h1{
	color: white;
	font-family: kulim park, sans-serif;
	line-height: 7px;
	font-weight: normal;
}

h2{
	color: white;
	font-family: kulim park, sans-serif;
	font-weight: normal;
	font-size: 14px;
	opacity: 0.9;
	margin-top: -6px;
}

.line{
	border-bottom: 2px solid white;
	position: absolute;
	top: 70%;
	left: 15%;
	width: 220px;
	box-shadow: 1px 0px 4px;
	color: #81b71a;
}

.fa-circle{
	color:#81b71a;
	position: absolute;
	left: 35%;
	margin-top: -7px;
}

.number{

}

h3{
	position: absolute;
	left: 15%;
	top:67%;
	color: white;
	font-family: kulim park, sans-serif;
	font-weight: normal;
}

h4{
	position: absolute;
	left: 81%;
	top: 66%;
	font-size: 17px;
	color: white;
	font-family: kulim park, sans-serif;
	font-weight: normal;
}

.player{
	border-bottom: 1px solid white;
	font-size: 60px;
}

.fa-pause-circle{
	color: #81b71a;
	position: absolute;
	left: 45%;
	top: 75%;
}

.forward{
	font-size: 35px;
}

.fa-forward{
	color: white;
	position: absolute;
	left: 65%;
	top:78%
}

.forward:hover{
	font-size: 40px;
}

.backward{
	font-size: 35px;
}

.fa-backward{
	color: white;
	position: absolute;
	left: 31%;
	top:78%;
}

.backward:hover{
	font-size: 40px;
}

.retweet{
	font-size: 18px;
	font-weight: normal;
}

.fa-retweet{
	color:#81b71a;
	position: absolute;
	left: 22%;
	top: 80%;
}

.repeat{
	font-size: 18px;
}

.fa-repeat{
	color: #81b71a;
	position: absolute;
	left:78%;
	top: 80%;
}

.context{
	position: absolute;
	left: 40%;
	top: 20%;
}

h5{
	font-size: 50px;
	color: white;
	font-family: titillium web, candara;
	font-weight: bolder;
	text-transform: uppercase;
}

font{
	color: white;
	opacity: 0.2;
}

h6{
	font-size: 14px;
	color: white;
	font-family: titillium web, candara;
	font-weight: normal;
	width: 550px;
	margin-top: -16%;
	word-spacing: 0.2;
	opacity: 0.4;
	text-align:justify;
}

.box{
	position: absolute;
	left: 40%;
	top: 63%;
}

input[type="submit"]{
	padding: 10px;
	border:none;
	opacity: 0.8;
	color: white;
	border-radius: 4px;
	background-color: black;
}

input[type="submit"]:hover{
	background-color: #81b71a;
	cursor: pointer;
}

.icon{
	width: 5px;
}
